body{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 80vw;
    margin:auto;
}

.form-group{
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
    text-align: center;
}
#title{
    text-align: center;
}
#description{
    text-align: center;
    font-size: 1.3rem;
}
#submit{
    display:block;
    margin:30px auto;

}